/* Allgemeine Stile für alle Geräte */
#myVideo {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    overflow: hidden;
    object-fit: cover;
}

p::first-letter {
    font-weight: bold;
}

#kategorienh1 {
    background-image: url('Logo.png'), linear-gradient(to top, transparent 0%, #006600 50%);
    background-size: contain, auto;
    background-repeat: no-repeat, no-repeat;
    background-position: top, center;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
}

#kategorien {
    position: fixed;
    top: 12vh;
    left: 25vw;
    right: 25vh;
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    scrollbar-width: none;
    ms-overflow-style: none;
    border: none;
}

#kategorien::-webkit-scrollbar {
    display: none;
}

#kategorien {
    scrollbar-width: none;
}

#kategorienhintergrund {
    background-image: url('Holzhintergrund.png');
    background-size: contain;
    width: 40vw;
    height: 90vh;
    overflow: auto;
}

#kategorienbutton {
    top: 12vh;
    width: 25vw;
    height: relative;
    border: none;
}

#kategorienbutton:hover {
    width: 25vw;
    -webkit-filter: brightness(120%);
    transition: all 0.5s ease;
}

#personen {
    background-image: url('Wand.jpeg');
    background-repeat: repeat;
    width: 100vw;
    height: 12vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-size: 20vh;
    padding: 5px;
    align-content: center;
}

#personenbutton {
    background-image: url('Button.png');
    font-family: "Algerian";
    font-weight: bold;
    font-size: 4vw;
    width: 30vw;
    height: 10vh;
    border-radius: 1vw;
    border: 0.4vw solid;
    background-size: contain;
    zoom: initial;
}

#personenbutton:hover {
    filter: brightness(120%);
    transition: all 0.5s ease;
}

/* Stile für mobile Geräte */
@media (max-width: 768px) {
    #kategorienh1 {
        background-size: cover, auto;
        height: 15vh; /* Größere Höhe für mobilen Header */
    }

    #kategorien {
        top: 18vh;
        left: 5vw;
        right: 5vw;
        width: 90vw;
        height: 80vh;
    }

    #kategorienhintergrund {
        width: 65vw;
        background-size: contain;
        overflow: auto;
    }

    #kategorienbutton {
        width: 40vw;
        height: auto; /* Automatische Höhe für Button */
    }

    #personen {
        height: 15vh; /* Mehr Platz für mobile Footer */
        background-size: cover;
    }

    #personenbutton {
        font-size: 6vw; /* Größere Schriftgröße für mobile Buttons */
        width: vw; /* Breitere Buttons auf mobilen Geräten */
        height: 15vh; /* Größere Höhe für Buttons */
        border-radius: 2vw; /* Größere Abrundung für mobile Geräte */
    }
    #kategorienbutton:hover {
        width: 50vw;
        -webkit-filter: brightness(140%);
        transition: all 0.3s ease; 
}
}
