#myVideo {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw; /* Set width relative to viewport width */
    height: 100vh; /* Set height relative to viewport height */
    z-index: -1000;
    overflow: hidden;
    object-fit: cover;
}

#kategorienh1 {
    background-image: url('Logo.png'), linear-gradient(to top, transparent 0%, #FF8000 50%);
    background-size: contain, auto; /* Set the size for both background images */
    background-repeat: no-repeat, no-repeat; /* Prevent background images from repeating */
    background-position: top, center; /* Center the background images horizontally and vertically */
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
}

#kategorien {
    position: fixed;
    top: 12vh;
    left:25vw;
    right: 25vh;
    width: 50vw; /* Set width relative to viewport width */
    height: 100vh; /* Set height relative to viewport height */
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border: none;
}

#kategorien::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for webkit-based browsers */
}

#kategorien {
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
}

#kategorienhintergrund {
    background-image: url('Holzhintergrund.png');
    background-size: contain; /* Adjust background size for full coverage */
    width: 40vw; /* Set width relative to viewport width */
    height: 90vh; /* Set height relative to viewport height */
    overflow: auto;
}

#kategorienbutton {
    top: 12vh;
    width: 20vw;
    height: auto; /* Reset height to be automatic */
    border: none;
    
}

#kategorienbutton:hover {
    width: 20vw;
    -webkit-filter: brightness(120%);
    transition: all 0.5s ease; /* Simplify transition property */
}

#personen {
    background-image: url('Wand.jpeg');
    background-repeat: repeat;
    width: 100vw; /* Set width relative to viewport width */
    height: 10vh; /* Set height relative to viewport height */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2; /* Place this element above kategorienbutton */
}

#personenbutton {
  
    background-image: url('Button.png');
    font-family: "Algerian";
    font-weight: bold;
    font-size: 4vw; /* Set font size relative to viewport width */
    width: 30vw; /* Set width relative to viewport width */
    height: auto; /* Reset height to be automatic */
    border: 0.4vw solid;
}

#personenbutton:hover {
 
    border: 0.4vw solid;
    font-size: 4vw; /* Set font size relative to viewport width */
    width: 30vw; /* Set width relative to viewport width */
    border: none;
    -webkit-filter: brightness(120%);
    transition: all 0.5s ease; /* Simplify transition property */
}
